body
{
    background-color: (#FFEFD5);
    color: (#8B4513);
}

table tr td{
    width: 300px;
    border: 1px black solid;
    vertical-align: auto;
}
.fejlec
{
background-image: url(szines.jpg);
background-repeat: no-repeat;
background-position: center;

}

.menu{
    float: right;
    margin-right: 100px;
}

.fokeret{
    float: right;
    margin-right: 100px;
}
