body
{
    background-color: papayawhip;
    color: (#8B4513);
    padding: 150px;
    margin: auto;
    
}

table tr td{
    width: 300pt;
    border: 1pt black solid;
    height: 50px;
    
    
}
.fejlec
{
background-image: url(szines.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 200px;

}
.tartalom
{
    
    margin-left: 40px;
    align-self: bottom;
    
}

.menu{
    float: right;
    margin-right: 320px;
    width: 47%;
    text-align: left;
    
    
}

.fokeret{
    float: right;
    margin-right: 320px;
    width: 47%;
    text-align: left;
}
h1{
   padding: 60px;
   color: (#8B4513);
}

ul{
    list-style-image: url(chili-pepper-icon.gif) ;
    position: relative;
    float: left;
    text-align: left;
    vertical-align: bottom;
    
    
    
}
li{
    
    width: 200px;
    height: 75px;
    margin: 10px;
    border: 3px solid rgb(127, 168, 216);
    background-color: rgb(182, 207, 219);
    vertical-align: bottom;
}  

a{
text-decoration: none; 
padding: 45px 0 0 10px;
display: block; 
color: black;
}